#intro{
    height: calc(100vh - 5vh);
    /* background: red; */
    width: 100vw;
    max-width:75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;
}
.bg{
    position: absolute;
    top: 0rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}
.introContent{
height: 100vh;
width: 100vw;
padding: 2rem;
font-size: 2rem;
font-weight: 700;
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 0.5rem;
}
.introName{
    color: yellow;
}
/* .bg2{
    z-index: -1;
    height: 530px;
    top: -1px;
} */
.hello{
    font-size: 1.75rem;
    font-weight: 300;
}
.intropara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}

.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border:none;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnImg {
object-fit: cover;
margin: 0 0.25rem;
height: 1rem;
}

.btn:hover {
    color: #111;
    background: #39ff14;
    box-shadow: 0 0 20px #39ff14;
}
.atags{
    width: fit-content;
}
.message-container{
    display: flex;
    justify-content: center;
    /* width: 100vw; */
}
.message-container2{
    display: flex;
    justify-content: center;
    /* width: 100vw; */
}
.pop-up{
    width: 300px;
    height: 250px;
    border: 3px solid #39ff14;
    background-color: #ffff;
    color: black; 
     border-radius: 6px;
    text-align: center;
    padding: 0 20px 20px;
    position: fixed;
    z-index: 10;
    display: none;
 } 
 .pop-up2{
    width: 300px;
    height: 200px;
    border: 3px solid red;
    background-color: #ffff;
    color: black; 
     border-radius: 6px;
    text-align: center;
    padding: 0 30px 30px;
    position: fixed;
    z-index: 10;
    display: none;
 } 
.pop-up img{
width: 100px;
margin-top: -50px;
border-radius: 50%;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.pop-up2 img{
    width: 70px;
    margin-top: -40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
.pop-up h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.pop-up2 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
    color: red;
}


@media screen and (max-width:840px){
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
        margin-top: 6.5rem;
    }
    
}

@media screen and (max-width:558px){
    .bg{
        right: -20vw;
    }
    .introContent{
        margin-top: 6.5rem;
    }

}

@media screen and (max-width:300px) {
    .bg{
        right: -60vw;
    }
}

